<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Forgot / Update Password</label>
		<div class="login-form">
			<%= bootstrap_form_for :user, :as => :user, :url => reset_path do |f| %>
			<div class="group">
				<%= f.email_field :email, class: "input", required: true %>
			</div>
			<div class="group">
				<%= f.submit 'Submit' , :class => "button" %>
			</div>
			<%end%>
			<div class="hr"></div>
		</div>
	</div>
</div>