<div class="container">
	<p class="text-dark py-4 text-center">About the Project</p>
	<p class="text-dark py-4 text-center">
		<strong style="color:red;">FLIGHT BOOKING SYSTEM!</strong>
		<strong> is developed to ease the booking hassel for Domestic and International Flights.</strong>
		<i class="fa fa-plane" style="font-size:36px;"></i> 
	</p>
	<p class="text-success py-5 text-center">
		<strong>You can book available flights a click away and the ticket will be sent to your e-mail.</strong>
		<i class="fa fa-envelope" style="font-size:48px;color:green"></i>
	</p>
	<p class="text-dark py-5 text-center">
		<strong>Developed by Nitesh Kumar (1CY19MCA57)</strong> <br>
		<strong>Under the guidance of </strong><br> 
		<strong>Ms. Momitha Roy, Asst Professor, MCA Department CMR Institute of Technology, Bangalore. </strong>
	</p>
	<hr>
	<div class="row">
		<div class="col">
			<%= link_to "Click here to continue to website", home_path, :class => 'btn btn-success btn-block' %>
		</div>
	</div>
</div>
